<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vortex </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    <link href="../static/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/vendor/chartist/css/chartist.min.css">
    <link href="../static/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="../static/vendor/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">
    	<link href="../static/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
	<link href="../static/css/icomoon.css" rel="stylesheet">
	<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="../static/images/LOGO1.png" alt="">
                <img class="logo-compact" src="../static/images/LOGO2.png" alt="">
                <img class="brand-title" src="../static/images/LOGO2.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		
		<!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                     <div class="header-left"></div>
                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
									<div class="header-info">
										<span>Hello, <strong>Admin</strong></span>
									</div>
                                    <img src="/static/images/user.png" width="20" alt=""/>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    
                                    <a href="./page-login.html" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

       <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a href="index.html" class="ai-icon" aria-expanded="false">
						<i class="flaticon-381-settings-2"></i>
						<span class="nav-text">Dashboard</span>
					</a>
				</li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-add-1"></i>
							<span class="nav-text" data-toggle="tooltip" data-placement="right" title="View/Update Attendance records">Attendance</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('mark_attendance')}}">Mark</a></li>
                            <li><a href="{{ url_for('view_attendance')}}">View</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-hourglass-1"></i>
							<span class="nav-text" data-toggle="tooltip" data-placement="right" title="This weeks Time Table">TimeTable</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('view_timetable')}}">View</a></li>
                            
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-user"></i>
							<span class="nav-text" data-toggle="tooltip" data-placement="right" title="Add/Remove student from your class">Student</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('student_add')}}">Add</a></li>
                            <li><a href="{{ url_for('student_view')}}">View</a></li>
                            <li><a href="{{ url_for('student_delete')}}">Delete</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-list-1"></i>
							<span class="nav-text" data-toggle="tooltip" data-placement="right" title="View Student performance">Marksheet</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('view_marks')}}">View Marksheet</a></li>
                        </ul>
                    </li>
                   
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-book"></i>
							<span class="nav-text" data-toggle="tooltip" data-placement="right" title="Take a look into department library">Library Manager</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('get_books')}}">Get Books</a></li>
                            <li><a href="{{ url_for('view_books')}}">View Books</a></li>
                            <li><a href="{{ url_for('return_books')}}">Return Books</a></li>
                        </ul>
                    </li>
					<li><a href="{{ url_for('info_manual')}}" class="ai-icon" aria-expanded="false">
						<i class="flaticon-381-heart"></i>
						<span class="nav-text" data-toggle="tooltip" data-placement="right" title="Get to know Vortex better">Information</span>
					</a>
				</li>
                </ul>
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
                
                <h2>FAQ section</h2><br>
                <h5>If you're unable to find the answer here, feel free to reach out to us!</h5>
                <div class="card">
                    <div class="card-header d-block">
                       
                    </div>
                    <div class="card-body">
                        <!-- Default accordion -->
                        <div id="accordion-one" class="accordion accordion-primary">
                            <div class="accordion__item">
                                <div class="accordion__header rounded-lg" data-toggle="collapse" data-target="#default_collapseOne">
                                    <span class="accordion__header--text">Unable to mark attendace</span>
                                    <span class="accordion__header--indicator"></span>
                                </div>
                                <div id="default_collapseOne" class="collapse accordion__body show" data-parent="#accordion-one">
                                    <div class="accordion__body--text">
                                        In order to mark attendace, make sure you check the right checkbox present in front of the student name/rollno.
                                     </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseTwo">
                                    <span class="accordion__header--text">Issue with view attendance</span>
                                    <span class="accordion__header--indicator"></span>
                                </div>
                                <div id="default_collapseTwo" class="collapse accordion__body" data-parent="#accordion-one">
                                    <div class="accordion__body--text">
                                        At times due toserver lag, we might not fetch the result quickly. Be patient you'll se the results. If not feel free to reach out to us.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseThree">
                                    <span class="accordion__header--text">Class entry not found in mark attendance page</span>
                                    <span class="accordion__header--indicator"></span>
                                </div>
                                <div id="default_collapseThree" class="collapse accordion__body" data-parent="#accordion-one">
                                    <div class="accordion__body--text">
                                        if the entry is not found in mark attendace page, make sure you have the uthorizartion to manipulate the respectieve class entries. If not, you can always go ahed and create class entries in add student section.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseFour">
                                    <span class="accordion__header--text">Google Drive not shared with student</span>
                                    <span class="accordion__header--indicator"></span>
                                </div>
                                <div id="default_collapseFour" class="collapse accordion__body" data-parent="#accordion-one">
                                    <div class="accordion__body--text">
                                        In order to share google drive with class, you will have to configure the sharable resourses in the profile section.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseFive">
                                    <span class="accordion__header--text">Library return not availble</span>
                                    <span class="accordion__header--indicator"></span>
                                </div>
                                <div id="default_collapseFive" class="collapse accordion__body" data-parent="#accordion-one">
                                    <div class="accordion__body--text">
                                        Once the deadline to return books is passed you are expected to come down to the office an file a return.
                                        You will be asked to pay the fine an most cases for the same. 
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__item">
                                <div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseSix">
                                    <span class="accordion__header--text">Time Table not updtes</span>
                                    <span class="accordion__header--indicator"></span>
                                </div>
                                <div id="default_collapseSix" class="collapse accordion__body" data-parent="#accordion-one">
                                    <div class="accordion__body--text">
                                        Time tables will be updated by admin, once the same is done you will se the changes!
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                    </div>


                   




                    



                
        	</div>
		</div>
        <!--**********************************
            Content body end
        ***********************************-->


    
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="../static/vendor/global/global.min.js"></script>
	<script src="../static/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="../static/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
	<script src="../static/js/deznav-init.js"></script>
	
	<!-- Counter Up -->
    <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../static/vendor/jquery.counterup/jquery.counterup.min.js"></script>	
		
	<!-- Apex Chart -->
	<script src="../static/vendor/apexchart/apexchart.js"></script>	
	
	<!-- Chart piety plugin files -->
	<script src="../static/vendor/peity/jquery.peity.min.js"></script>
	
	<!-- Dashboard 1 -->
	<script src="../static/js/dashboard/dashboard-1.js"></script>
	
	<!-- Datatable -->
    <script src="../static/vendor/datatables/js/jquery.dataTables.min.js"></script>
	
	<script>
	(function($) {
	 
		var table = $('#example5').DataTable({
			searching: false,
			paging:true,
			select: false,
			//info: false,         
			lengthChange:false 
			
		});
		$('#example tbody').on('click', 'tr', function () {
			var data = table.row( this ).data();
			
		});
	   
	})(jQuery);
	</script>
	
</body>
</html>